.household-account-book
  = link_to "トップへ戻る",root_path

.household-account-book__registration
%ul
  %li
    = link_to "珈琲部", #
  %li
    = link_to "ドリップ", new_tweet_path
  %li
    = link_to "珈琲のばん", #
